
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

    body{
        text-align: center;
        background-color: forestgreen;
    }
    
    #header {
        background-position: center;    
        background-repeat: no-repeat; 
        background-size: cover; 
         background-image: url();
         width:100vw;
         height:100vh;
    }
.container{
    text-decoration: underline;
    color: black;
}
 .africa{
list-style-type: none;
text-align: center;
gap: 5rem;
color: white;

}
ul :hover{
color: white;}
.icon{
    text-align: center;
}